<style>
	body{
		color:white;
		background-color: #1a1a1d;
	}
	.descriptionlink{
		text-decoration: none;
		font-size: 25px;
		color:white;

	}
	.descriptionlink  a : hover{
		font-size: 20px;
		color:orange;
	}
	p {
		margin-left: 70px;
		font-weight: bold ;
		clear: left;
		width: 100px;
		text-align: left;
		margin-right: 10px;
		font-family:sans-serif,bold, Arial, Helvetica;
		font-size:14px;
		text-decoration-color: white;
	}

	div {
		border-bottom: 1px solid white;
	}
	table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}



	</style>
<body>
<table style="width:100%">
<caption>Results</caption>
<img alt="img of author" src="{{ author.url_picture }}">
<tr>
	<th id="Helvetica">Title</th>
	<th id="Helvetica">Infos</th>
</tr>
<tr>
<td><h3>Name:</h3></td>
<td><h3> {{ author.name }}</h3></td>
</tr>
<tr>
	<td><h3>affiliation:</h3></td>
	<td><h3>{{ author.affiliation }}</h3></td>
</tr>

<tr>
	<td><h3>Emails:</h3></td>
	<td><h3> {{ author.email }}</h3></td>

</tr>
<tr>
	<td><h3>Interests: </h3></td>

	<td>	{% for interest in author.interests %}

			<p>{{ interest }}</p>

		{% endfor %}</td>
</tr>
<tr>
	<td><h3>h-index: </h3></td>
	<td><h3> {{ author.hindex }}</h3></td>
</tr>


<tr>
	<td><h3>h-index5y:</h3></td>
	<td><h3>{{ author.hindex5y }}</h3></td>
</tr>
<tr>
	<td><h3>i10-index:</h3></td>
    <td><h3>{{ author.i10index }}</h3></td>
</tr>
<tr>
	<td><h3>i10-index5y:</h3></td>
	<td><h3>{{ author.i10index5y }}</h3></td>
</tr>
<tr>
	<td><h3>cited By:</h3></td>
	<td><h3>{{ author.citedby }}</h3></td>
</tr>


<tr>
	<td><h3>cited by 5y:</h3></td>
	<td> <h3>{{ author.citedby5y }}</h3></td>
</tr>

<tr>
	<td><h3>co-authors:</h3>
		</td>
		<td>
			{% for cauth in author.coauthors %}

				<p>{{ cauth.name }}</p>

			{% endfor %}</td>
</tr>
<tr>
	<td><h3>Publications: </h3>
		</td>
		<td>

			{% for index,pub in publicationlist %}
			<form method='POST',action="">
				<div>
				<a href="{% url 'SinglePublication' authorName=author.name pubind=index %}" id="publication {{ index }}"  class="descriptionlink">{{ pub }}</a>
			</div>
			</form>


		{% endfor %}
	</td>

</tr>

</table>


</body>
