<style>
	p {
		margin-left: 70px;
		font-weight: bold ;
		clear: left;
		width: 100px;
		text-align: left;
		margin-right: 10px;
		font-family:sans-serif,bold, Arial, Helvetica;
		font-size:14px;
		text-decoration-color: white;

	}


	}
	div {
		box-sizing: border-box;
		width: 100%;
		border:  solid black;
		float: left;
		align-content: center;
		align-items: center;
	}



	}
	table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;

  text-align: left;


}
	body{
		background-color: #1a1a1d;
		color:white;
	}

    </style>

    <h1>{{ title }} </h1>
    <p style="float: right;"><a href="{{ eprint }}">Jmlr Paper pdf Version</a></p>
    <table align="center" width="100%">
    	<caption></caption>
    	<tr>
    		<th id="Helvetica"></th>
    		<th id="Helvetica"></th>
    	</tr>
        <tr>
            <td><p ><strong>Abstract: </strong></p></td>
            <td>{{ abstract }}</td>
        </tr>



    <td><p>journal:</p></td>
    <td> {{ journal }}</td>
</tr>

<tr>
    <td>  <p>pages:</p>  </td>
    <td><p> {{ pages }}</p></td>
</tr>
<tr>
    <td><p>Volume:</p></td>
    <td><p> {{ Volume }}</p></td>
</tr>
<tr>
    <td><p>year:</p></td>
    <td><p>] {{ year }}</p></td>

    </tr>
    <tr>
        <td>
            <p>citedby: </p>
        </td>
        <td>
            <p> {{ citedby }}</p>
        </td>
    </tr>
<tr>
    <td>
        <p>id_citations: </p>
    </td>
    <td>
        <p> {{ idCitations }}</p>
    </td>
</tr>
<tr>
    <td>
        <p>id_scholar_cited_by: </p>
    </td>
    <td>
        <p>{{ idScholarcitedby }}</p>
        </td>
</tr>

</table>

</body>
